@import url("./vars.css");
@import url("./reset.css");
@import url("./components.css");
@import url("./style.css");
@import url("./responsive.css");

.justify {
  text-align: justify;
}

.grid {
  display: grid;
}
.grid-4 {
  grid-template-columns: auto auto auto auto;
}
.grid-5 {
  grid-template-columns: auto auto auto auto auto;
}
